{
  "extends": ["airbnb"],
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      }
    }
  ],
  "plugins": ["react", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "prefer-template": 0,
    "react/destructuring-assignment": 0,
    "arrow-parens": 0,
    "object-shorthand": 0,
    "no-plusplus": 0
  }
}
